[submodule ".registry"]
	path = .registry
	url = https://github.com/benz0li/benz0li.r-universe.dev
	branch = HEAD
[submodule "httpgd"]
	path = httpgd
	url = https://github.com/nx10/httpgd
[submodule "unigd"]
	path = unigd
	url = https://github.com/nx10/unigd
